extends layout.pug
block content
    form(action="/create" method="post") 
            input(type="hidden" name="_csrf" value="{{csrfToken}}")
            mixin field(id, type, value, label)
             div
              label(for=id)= label
              input(type=type, name=id, placeholder=value, required)
            ul
             +field("firstName", "text", "upgrade now!", "First Name")
             +field("lastName", "text", "upgrade now!", "Last Name")
             +field("email", "email", "upgrade now!", "Email")
             +field("password", "password", "upgrade now!", "Password")
             +field("confirmedPassword", "password", "upgrade now!", "Confirm Password")
            input(type="submit" value="Create User" name="Create User")
